<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/1260d59b1f.js"
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="Css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Css/style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="Css/normalize.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Css/normalize.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Source/Favicon__Portafolio.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Duvard Cisneros</title>
  </head>

  <body>
    <header>
      <nav class="NavContainer">
        <ul class="NavContainer__ul">
          <li class="NavContainer__Li">
            <a href="#InfoContainer_"> Información </a>
          </li>
          <li class="NavContainer__Li">
            <a href="#ProjectsContainer_"> Proyectos </a>
          </li>
          <li class="NavContainer__Li">
            <a href="#SkillsContainer_"> Habilidades </a>
          </li>
          <li class="NavContainer__Li">
            <a href="#ContactContainer_"> Contacto </a>
          </li>
          <li class="NavContainer__Li">
            <a
              href=""
              target="_BLANK"
            >
              Otra Pagina
            </a>
          </li>
        </ul>
        <ul class="nav__responsive-ul">
          <div class="nav__responsive-button">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="nav__li-container">
            <li class="nav__responsive-li">
              <a href="#InfoContainer_"> Información </a>
            </li>
            <li class="nav__responsive-li">
              <a href="#ProjectsContainer_"> Proyectos </a>
            </li>
            <li class="nav__responsive-li">
              <a href="#SkillsContainer_"> Habilidades </a>
            </li>
            <li class="nav__responsive-li">
              <a href="#ContactContainer_"> Contacto </a>
            </li>
            <li class="nav__responsive-li">
              <a
                href="https://drive.google.com/file/d/1g8TXPlwRNhEyFONFR6N4wEOKtBc44kIx/view?usp=sharing"
                target="_BLANK"
              >
                Descargar Curriculum
              </a>
            </li>
          </div>
        </ul>
      </nav>
    </header>

    <div class="InfoContainer" id="InfoContainer_">
      <div>
        <!--<img
          class="InfoContainer__img"
          src="/Source/Foto__perfil.jpeg"
          alt="persona - perfil - foto - carnet - hombre"
        />-->
        <img
          class="InfoContainer__img--name"
          src="{{url_for('static',filename='Img/')}}"
          alt="Logo - Nombre - Marca"
        />
      </div>
      <div class="InfoContainer__Presentacion">
        <h2>¡Hola a todos!</h2>
        <p>
          Soy Duvard, un joven apasionado por la programación y diseño web,
          estoy en busca de ejercer mis conocimientos e implementar ideas para
          la solución, agilización y desarrollo de procesos mediante el
          desarrollo de sistemas complejos
        </p>
      </div>
    </div>

    <div class="ProjectsContainer" id="ProjectsContainer_">
      <div>
        <h2>Proyectos</h2>
        <p>Aqui podras ver los proyectos en los que he trabajado.</p>
      </div>
      <div class="ProjectsContainer__div">
        <div>
          <div class="DescriptionContainer">
            <h3>Portafolio Website</h3>
            <p>
              • Maquetación y programación web
              <br />
              • Desarrollo de ilustraciones
              <br />
              • Diseño de Interfaz web
            </p>
          </div>
          <ul class="Project1Container__ul">
            <li>
              <a
                href="https://duvard1.github.io/Portafolio-Web/"
                target="_blank"
              >
                Website
              </a>
            </li>
            <li>
              <a
                href="https://github.com/Duvard1/Portafolio-Web.git"
                target="_blank"
              >
                Repositorio
              </a>
            </li>
          </ul>
        </div>
        <div class="ProjectsContainer__Project2">
          <div>Proximamente...</div>
        </div>
        <div class="ProjectsContainer__Project3">
          <div>Proximamente...</div>
        </div>
      </div>
    </div>

    <div class="SkillsContainer" id="SkillsContainer_">
      <h2>Mis Habilidades</h2>
      <div class="SkillContainer__div">
        <div>
          <h3>HTML</h3>
          <!--<img src="/Source/Html.png" alt="html - web design - website- Css" />-->
          <img src="{{url_for('static',filename='Img/Html.png')}}" alt="html - web design - website- Css" />
        </div>
        <div>
          <h3>CSS</h3>
          <!--<img src="/Source/Css.png" alt="Css - web design - website- html" /> -->
          <img src="{{url_for('static',filename='Img/Css.png')}}" alt="Css - web design - website- html" />
        </div>
        <div>
          <h3>JAVASCRIPT</h3>
          <!-- <img src="/Source/JavaScript.png" alt="JavaScript - Website - web design"/>-->
          <img src="{{url_for('static',filename='Img/JavaScript.png')}}" alt="JavaScript - Website - web design"/>
        </div>
      </div>
    </div>

    <div class="ContactContainer" id="ContactContainer_">
      <h2>Contacto</h2>
      <p>Contacta conmigo si quieres que trabajemos juntos.</p>

      <form
        action="https://formsubmit.co/duvardesteban@hotmail.com"
        method="POST"
        class="ContactContainer__form"
      >
        <input type="text" id="name" placeholder="Nombre" name="name" />
        <input type="email" id="email" name="email" placeholder="Email" />
        <textarea
          name="mensaje"
          id="mensaje"
          placeholder="Tu Mensaje"
        ></textarea>
        <button>Enviar</button>
      </form>
    </div>
    <h2 class="TitleSN">Redes Sociales</h2>
    <footer class="SocialNetworksContainer" id="SocialNetworksContainer_">
      <div>
        <div>
          <a href="https://www.instagram.com/duvard_cisneros/" target="_BLANK"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/duvard-cisneros-9a073323b/"
            target="_BLANK"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </div>
        <div>
          <a href="https://github.com/Duvard1" target="_BLANK"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>
        <div>
          <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
